{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
    <form action="/buy" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="symbol" name="symbol" value="{{ inpt or '' }}" placeholder="Symbol of stock to buy" type="text" oninput="consult();">
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="numbershare" name="shares" placeholder="Number of shares" type="text" oninput="info();">
        </div>
        <button class="btn btn-primary" type="submit">Buy stock</button>
    </form>
    <div>
        <p>
        <h4 id="placeholder">{{ left or "" }}</h4>
        </p>
    </div>
{% endblock %}